@page
@model PhoneDirectory.Pages.Admin


@{
    ViewData["Title"] = "Admin";
}

<h1>Phone Directory Administration</h1>

<p>Use the menus to View | Create | Update | Delete department and personnel information</p>

