@page
@model PhoneDirectory.Pages.Departments.IndexModel
@{
    Layout  = "_DirectoryLayout.cshtml";
}

@{
    ViewData["Title"] = "Organization";
}

<h1>Directory</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-page="./Employees/Index">Personel Directory</a> |
            </td>
        </tr>
}
    </tbody>
</table>
